.checkbox-left {
  width:  10%;
  text-align: left;
}
.cust-list {
  font-size: 100px;
}
.cust-profile {
  font-size: 20em;
}
.customer-view {
  position: relative;
  padding-top: 6px;
}
.dropdown-menu .divider {
  height: 2px;
  padding: 0;
}
.extra-space {
  padding-top: 15px; 
}
.pull-left {
  padding-left: 0;
}
.text-pink {
  color: #FF69B4;
}

