<div class="footer navbar-fixed-bottom navbar navbar-bottom-customize" ng-controller="FooterController as vm">
<div ut-visible-dev class="pull-left footer-button-bar" style="margin-left: 10%;">
  <h4><span class="label label-default visible-lg">lg Big screen</span></h4>
  <h4><span class="label label-primary visible-md">md Medium screen</span></h4>
  <h4><span class="label label-success visible-sm">sm Tablet</span></h4>
  <h4><span class="label label-info visible-xs">xs +Small 768</span></h4>
</div>

  <span class="navbar-bottom-version">V {{appVersion}}</span>
  <span class="pull-right navbar-bottom-company">© 2017 Ultimate TechnoGraphics Inc.</span>
</div>
