<section>
<div class="page-header">
  <h2>Customers List</h2>
</div>
<div class="row">
  <div id="customers-list" class="col-xs-6 col-sm-4 col-md-4">
    <div>
      <div class="input-group">
        <a class="btn white-color btn-primary pull-right" ng-click="vm.modalUpdate()" ui-sref-active="hide" title="{{'Create a new customer'}}"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;<span>Add</span></a>

        <div class="input-group-btn input-group-btn-custom" uib-dropdown>
          <button type="button" class="btn filter-button dropdown-toggle" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-filter align-middle-glyphicon"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <li ng-repeat="filter in vm.filterList" ng-class="{'active' : vm.filter == filter.value, divider:filter.value==false}">
              <a ng-click="vm.setFilter($index)" ng-if="filter.value">{{filter.label}}</a>
            </li>
          </ul>
        </div>
<!--
              <ut-dropdown name="channel" ng-model="customer.channel" options="presets.channels" ng-change="changeChannel()" required></ut-dropdown>
-->

      </div>
    </div>
    <div class="input-group search-custom">
      <input type="text" class="form-control" ng-model="vm.searchValue" placeholder="Search..."><!--ng-change="vm.search('text')"-->
      <span class="input-group-btn">
        <button class="btn search-button" type="button"><span class="glyphicon glyphicon-search" ng-click="vm.search()"></span></button>
      </span>
    </div>
    <table st-table="vm.customers" st-pipe="vm.getPageCustomers" st-set-filter="statusFilter" class="custom-table table">
      <tbody>
        <tr st-select-row="customer" st-select-mode="single" class="tr-custom" ng-class="{'st-selected': vm.isSelected(customer)}" ng-repeat="customer in vm.customers" ng-click="vm.select(customer,$index)">
          <td>
              <div class="thumbnail thumbnail-custom">
                <div class="caption">
                  <div class="pull-left">
                    <h4 class="special thumbnail-heading-custom" data-toggle="collapse" data-target="#card1">{{customer.firstName}} {{customer.surname}}<span class="caret"></span></h4>
                  </div>
                  <div class="pull-right thumbnail-button-custom">
                    <button type="button" class="btn btn-xs white-color" title="{{'Edit the customer'}}" ng-click="vm.modalUpdate(customer)" ng-class="{'btn-primary': !vm.isSelected(customer),'btn-default': vm.isSelected(customer),}"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-xs white-color" title="{{'Duplicate the customer'}}" ng-click="vm.duplicate(customer)" ng-class="{'btn-primary': !vm.isSelected(customer),'btn-default': vm.isSelected(customer),}"><span class="glyphicon glyphicon-file"></span></button>
                    <button type="button" class="btn btn-xs white-color" title="{{'Delete the customer'}}" ng-click="vm.delete(customer, $event)" ng-class="{'btn-primary': !vm.isSelected(customer),'btn-default': vm.isSelected(customer),}"><span class="glyphicon glyphicon-trash"></span></button>
                  </div>
                  <div class="clearfix"></div>
                  <div class="collapse">
                    <hr class="thumbnail-collapse-hr-custom">
                    <div class="pull-left">
                      <h6 class="thumbnail-collapse-heading-custom">Customer Details</h6>
                    </div>
                    <div class="clearfix"></div>
                    <span class="label-special">Tag1</span>
                    <span class="label-special">Tag2</span>
                    <span class="label-special">Tag3</span>
                    <span class="label-special">Tag4</span>
                    <span class="label-special">Tag5</span>
                    <span class="label-special">Tag6</span>
                  </div>
                </div>
              </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <div st-template="modules/core/client/templates/pagination.html" st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="3">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="btn-group ng-scope pull-right">
              <select class="form-control" ng-model="vm.itemsPerPage"  ng-options="(size+' items') for size in vm.pageSizes" ng-change="vm.getPageCustomers()"></select>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="col-xs-6 col-sm-8 col-md-8" data-ng-show="vm.customers.length > 0">
    <div data-ui-view="detail" model></div>
  </div>
</div>
<div class="alert alert-warning text-center" data-ng-if="vm.customers.$resolved && !vm.customers.length">
  <span>No customers yet, why don't you&nbsp;</span><a data-ui-sref="customers.create">create one</a>?
</div>

<pre class="col-xs-10 col-xs-offset=1">{{vm | json }}</pre>


